@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Rubik Moonrocks;
  src: url('./assets/fonts/RubikMoonrocks-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Roboto Light;
  src: url('./assets/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: Roboto Bold;
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
}
